<section class="hero">
  <div class="left">
    <carousel>
      <slide>
        <div class="text-white">
          <div class="lead contents">
            <h2>Single Subscription, Multiple Courses</h2>
            <p class="">
              Just pay a small amount every month and explore multiple courses
              across various domains with a lot of exciting content.
            </p>
            <button type="button" class="btn btn-warning" (click)="openSignupComponent()">
              Register Now
            </button>
          </div>
        </div>
      </slide>

      <slide>
        <div class="text-white">
          <div class="lead contents">
            <h2>Learn from Industry Experts</h2>
            <p class="">
              The fun in learning with an Industry expert is you get to know a
              lot of industry practices, ongoing trends etc.
            </p>
            <button type="button" class="btn btn-warning" (click)="openSignupComponent()" tabindex="0">
              Register Now
            </button>
          </div>
        </div>
      </slide>

      <slide>
        <div class="text-white">
          <div class="lead contents">
            <h2>Build your profile and create a strong track record</h2>
            <p class="">
              Along with training, build your profile on skillspire and create a
              strong track record. This will help you get a job &amp;
              internships.
            </p>
            <button type="button" class="btn btn-warning" (click)="openSignupComponent()">
              Register Now
            </button>
          </div>
        </div>
      </slide>

      <slide>
        <div class="text-white">
          <div class="lead contents">
            <h2>Learn Industry Skills, get Internships &amp; Jobs</h2>
            <p class="">
              There is a big gap between industry &amp; academics. Learning
              industry oriented skills by industry experts makes you ready for
              industry.
            </p>
            <button type="button" class="btn btn-warning" (click)="openSignupComponent()">
              Register Now
            </button>
          </div>
        </div>
      </slide>

      <slide>
        <div class="text-white">
          <div class="lead contents">
            <h2>Become a part of a strong community</h2>
            <p class="">
              When you are a part of a community which is driven by a strong
              purpose, your learning gets on an auto mode. You can share new
              ideas, learn better practices from other students.
            </p>
            <button type="button" class="btn btn-warning" (click)="openSignupComponent()" tabindex="0">
              Register Now
            </button>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="right">
    <img src="assets/images/slider-banner-images.png" alt="skillspire banner" class="images" />
  </div>
</section>

<!-- section-2:about-us -->
<section class="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-12">
        <h2>About Us</h2>
        <p class="text-justify">
          India as a country is struggling with the problem of employment in
          spite of having the largest young population in the world. As per the
          India Skills Report 2020, only 49 % Engineers, 54 % MBAs, 25% MCAs 47%
          B.com graduates are employable. The major reason behind this issue is
          the rising gap between Industry and academics. There is no integrated
          platform in India which is addressing this problem with the holistic
          approach. Skillspire is on a mission to make indian youth by providing
          them live training sessions on various skill sets.
        </p>
        <p class="text-justify">
          Skill development without employment is of no use. We are committed to
          offer a relevant job, internship, WFH projects etc to our students.
          Along with a training program on skill development with an efficient
          assessment method, students get scoring. The more score a student has,
          the more active and career oriented he is considered to be. The
          efficient scoring system also helps recruiters to filter the student
          and select as per their preference.
        </p>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-12">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-0">
            <div class="pc-user">
              <img src="../../../assets/images/pc-user.png" alt="pc-user" class="img-fluid mx-auto d-block" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="tutors">
              <div>
                <h2 class="mb-0 mt-3">25+</h2>
                <h2 class="seo-h2 mb-0">Industry Experts</h2>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-0">
            <div class="degree">
              <img src="../../../assets/images/degree.png" alt="degree" class="img-fluid mx-auto d-block" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="courses tutors">
              <div>
                <h2 class="mb-0 mt-3">100+</h2>
                <h2 class="seo-h2 mb-0">Courses</h2>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 p-0">
            <div class="video-course">
              <img src="../../../assets/images/video-course.png" alt="video-course" class="img-fluid mx-auto d-block" />
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="tutors students">
              <div>
                <h2 class="mb-0 mt-3">10,000+</h2>
                <h2 class="seo-h2 mb-0">Students</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section-3:Programs -->

<section class="program-categories">
  <div class="container">
    <div class="row programs">
      <div class="col-xl-12 col-lg-12">
        <h2 class="mb-4 pb-2">Programs</h2>
      </div>
    </div>

    <div class=" program-categories-slider">
      <ngx-slick-carousel class="carousel category" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem class="slide" *ngFor="let category of programsCategory">
          <div>
            <button type="button" (click)="showCategorywiseSkill(category.slug)">{{category.name}}</button>
          </div>
        </div>
      </ngx-slick-carousel>
      <!-- Api call Data  -->
      <div class="program-list">
        <!-- left-block -->
        <div class="programList-left">
          <div class="btn-list" [routerLinkActive]="['activeList']" [routerLinkActiveOptions]="{exact:
          true}" *ngFor=" let lists of programLists; let i=index">
            <div class="programList-content">
              <a routerLink="" (click)="showSkillshortDesc(i)">{{lists.title}}</a>
            </div>
            <div class="right-icon">
              <img src="../../../../assets/images/white-right-icon.png" alt="">
            </div>
          </div>

          <div class="view-all">
            <button class="btn btn-primary view-all-btn" (click)="goToPrograms()"><span>View all</span> -<img
                src="../../../../assets/images/white-right-icon.png" alt=""></button>
          </div>
        </div>
        <!-- right-block -->
        <div class="programList-right" (click)="goToPrograms()">
          <div class="banner">
            <div class="image-type">
              <div class="image">
                <img [src]="programLists[index].photo" alt="skillspire banner" class="images" />
              </div>
              <div class="program-type">
                <button class="btn btn-primary right-btn">{{programLists[index].program_type}}</button>
              </div>
            </div>

            <div class="short-desc">
              <div class="Recorded">
                <div class="circle"></div>
                <div>
                  <h5>Recorded</h5>
                </div>
              </div>
              <div class="goal">
                <h2>{{ this.programLists[index].title}}</h2>
                <p>{{programLists[index].short_desc.substring(0,79)}}...</p>
              </div>

              <div class="time">
                <img src="../../../assets/images/clock.png" alt="">
                <p>{{hours_split}} <span>Hour</span> {{minutes_split}} <span>Minutes</span></p>
              </div>
            </div>
            <div class="price">
              <p class="discount-fees">₹{{this.programLists[index].discounted_fees}}</p>
              <p class="fees">₹<del>{{this.programLists[index].fees}}</del> </p>
            </div>
            <div class="tutor">
              <div class="tutor-image">
                <img [src]="programLists[index].trainerData.photo" alt="">
              </div>
              <div class="tutor-details">
                <p class="name">{{programLists[index].trainerData.name}}</p>
                <p class="exp">Experience: {{programLists[index].trainerData.industry_exp}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section-4 :Popular-Trainers -->
<section class=" popular-trainers ">
  <div class="container">
    <div class="trainers">
      <h2 class="mb-4 pb-2">Popular Trainers</h2>
    </div>

    <div class="carousel-trainers">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig_blogs">
        <div ngxSlickItem class="slide" ngxSlickItem *ngFor="let trainers of popular_trainers; let i = index">
          <div class="trainers-list">
            <div class="trainers-image">
              <img [src]="trainers.photo" alt="" width="100%">
            </div>
            <div class=" trainers-content">
              <div>
                <h3 class="trainers-name">{{trainers.name}}</h3>
                <p>{{trainers.area_of_expertise}}</p>
                <p>Experience: {{trainers.industry_exp}}</p>
              </div>
              <div class="trainers-content-height">
                <p class=" ">{{trainers.short_bio.substring(0,130)}}...</p>
                <a (click)="popup_Open(trainers.name,trainers.designation,trainers.short_bio)" routerLink="">Read
                  more...</a>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <!-- Success stories: -->
    <div class="success-stories">
      <div>
        <h2 class="mb-3 pb-2">Success Stories</h2>
      </div>
      <div *ngFor=" let story of success_stories">
        <div class="name">
          <h2>
            <span>{{story.name}} ({{story.location}})</span>
          </h2>
        </div>
        <div class="success-stories-details">
          <div class="img-fluid">
            <div>
              <img alt="Subham Gautam" [src]="story.photo" />
            </div>
            <div class="">
              <div class="mt-3">
                <h3>
                  {{story.title}}
                </h3>
                <p class="text-justify" [innerHTML]="story.comments"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section-5:blogs -->
<section class="blogs">
  <div class="row seo-h2">
    <div class="col-xl-12 col-lg-12">
      <h2 class="mb-4 pb-2">Blogs</h2>
    </div>
  </div>

  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig_blogs">
    <div ngxSlickItem class="slide" ngxSlickItem *ngFor="let blogs of blogsList">
      <div class="images">
        <img [src]="blogs.photo" alt="" width="100%">
        <div class="p-2 blog-content">
          <p class="blog-by mt-3 mb-2">by {{blogs.author}} {{blogs.date}}</p>
          <div class="blog-content-height">
            <h2 class="blog-title text-dark">{{blogs.seo_title}}</h2>
            <p class=" ">{{blogs.short_desc.substring(0,130)}}...</p>
          </div>
          <div>
            <a routerLink="blogs">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

</section>

<!-- section-6:Ready to join -->
<section class="ready-section">
  <div class="ready-contents">
    <div class="ready-text">
      <h2>Ready to Join..?</h2>
      <p>
        So what are you waiting for? Start learning from the experts of the
        industry and boost up your skills to <br>uplevel your career. Join today.
      </p>
    </div>
    <div class="register-now">
      <button type="button" class="btn btn-primary ">
        REGISTER NOW
      </button>
    </div>
  </div>
</section>