<div class="row program-all">
    <div class="left">
     
        
            <div class="left-button">
                <div class="contents">
                    <a [routerLink]="['']">
                        <p>Goal Based Financial Planning </p>
                    </a>
                </div>
                <div>
                    <img src="../../../../assets/images/white-right-icon.png" alt="">
                </div>
  
          </div>

            
         
      </div>
  <!-- right-block -->
      <div class="right">
        <img
          src="assets/images/slider-banner-images.png"
          alt="skillspire banner"
          class="images"
        />
      </div>
  </div>