<div class="container">
    <h2>
      <span>Reset Password</span>
    </h2>
      <form  class="form-container" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="email"
            formControlName="email"
          />
        </div>
      <div class="mb-3">
          <input type="password" class="form-control" placeholder="Enter old Password" formControlName="oldPassword">
      </div>
  
      <div class="mb-3">
          <input type="password" class="form-control" placeholder="enter new password" formControlName="newPassword">
       </div>
       
    
        <div class="button">
          <button type="submit" class="btn btn-primary">Forget Password</button>
          <a (click)="gotoLogin()"> go to login page</a>
        </div>
      </form>
    
    </div>
