.navbar{
    background-color: #fff;
}
.nav-right{
    // margin-right: 100px;
    padding-bottom: 10px;
}

.collapse ul li a{
    color: #00b6f0;
    font-size: 13px;    
}
.active{   
    font-weight:700;
    border-bottom: 2px solid #00b6f0;
} 
.navbar-brand{
 margin-left:75px;
}
.image{
    width: 150px;
    height: 75px;
}

.button{
    display: flex;
    gap: 15px;
    margin-left: 15px;
}

.login-btn{
    color: #1b8ed9;
    border:0.75px solid #0385e5;
    border-radius: 3px;
    padding:  .5rem 1.3rem;

};
.login-btn:hover{
    color: #fff;
    background-color: #0385e5;
}

.signup-btn{
    background-color: #0385e5;
    color: white;
    padding: .6rem 1.5rem;
    border: none;
    border-radius: 3px;
};
.signup-btn:hover{
    background-color: #fff;
    color: #1b8ed9;
    border:0.75px solid #0385e5;
};