.right-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
}
.profile{
    margin-top: 15px;
}

.right-nav a{
    border: 1px solid lightgray;
    border-radius: 5px;
}