<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6"><a
          href="javascript:void(0)"><img src="../../../../assets/images/logo.png" alt="logo"
            class="logo"></a>
        <p class="mb-2"><span class="underline-css">Follow
            Us</span></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a
              href="javascript:void(0)"><img src="../../../../assets/images/facebook.png" alt="facebook"
                class="mr-2"></a></li>
          <li class="list-inline-item"><a
              href="javascript:void(0)"><img src="../../../../assets/images/instagram.png"
                alt="instagram" class="mr-2"></a></li>
          <li class="list-inline-item"><a
              href="javascript:void(0)"><img src="../../../../assets/images/twitter.png"
                alt="twitter"></a></li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 quick-link">
        <p class="mb-2"><span class="underline-css">Quick
            Links</span></p>
        <div class="row">
          <div class="col-4">
            <ul class="list-unstyled">
              <li routerlinkactive="active" class="active "><a
                  routerlink="/" href="/">Home </a></li>
              <li routerlinkactive="active"><a
                  routerlink="/programs" href="/programs">Programs</a></li>
              <li routerlinkactive="active"><a
                  routerlink="/trainers" href="/trainers">Trainers</a></li>
              <li routerlinkactive="active" class="mb-2"><a
                  routerlink="/jobs" class="mb-2" href="/jobs">Jobs</a></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled">
              <li routerlinkactive="active"><a
                  routerlink="/blog" href="/blog">Blogs</a></li>
              <li routerlinkactive="active"><a
                  routerlink="/privacy-policy" href="/privacy-policy">Privacy Policy</a></li>
              <li routerlinkactive="active"><a
                  routerlink="/terms-conditions" href="/terms-conditions">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <p class="mb-2"><span class="underline-css">Contact
            Us</span></p>
        <div class="media mb-3"><img src="../../../../assets/images/pin.png"
            alt="address" class="mr-2">
          <div class="media-body">
            <p class="mb-0">409, Harmony Icon, Hebatpur Rd, Thaltej, Ahmedabad, Gujarat
              380059</p>
          </div>
        </div>
        <div class="media mb-3">
          <img
            src="../../../../assets/images/call.png" alt="call" >
          <div class="media-body"><a href="tel:+91 7874947779"
              class="button">
              <p class="mb-0 text-white" >7874947779</p>
            </a></div>
        </div>
        <div class="media mb-3"><img
            src="../../../../assets/images/email.png" alt="email" ><a target="_blank"
            href="mailto:?body=support%40skillspire.in">
            <div class="media-body">
              <p class="mb-0 text-white">support@skillspire.in</p>
            </div>
          </a></div>
      </div>
    </div>
  </div>
</footer>